# .gitignore

# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env
.env.production
backend/.env

# Ignore logs
*.log

# Ignore the build directory
/dist

# Ignore IDE specific files
.idea/
*.vscode/